.timer {
    /* max-width: 600px; */
    border: 1px solid;
    border-radius: 20px;
    display: inline-block;
    flex-shrink: 0;
    padding: 10px 20px;
    overflow-x: scroll;
    margin: 10px;
}

.timer.future {
    background-color: #ccffbd;
}

.timer.current {
    background-color: #feffde;
}

.timer.past {
    background-color: #f3f4ed;
}

.timer.future p, .timer.past p {
    font-size: 0.9rem;
}

.timer.future h2, .timer.past h2 {
    font-size: 1.1rem;
}

.timer.current {
    display: block;
    padding: 20px;
}